* {
  padding: 0;
  margin: 0;
}

.nav {
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: pink;
  height: 48px;
  display: flex;
  align-items: center;
}
.nav--logo {
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
