:root {
  --color-light-bg: #f9fafb;
  --color-dark-bg: #111827;
  --color-light-text: #111827;
  --color-dark-text: #f3f4f6;
  --transition-duration: 200ms;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
